.pref-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
    grid-gap: 20px;
    margin: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 3px solid blueviolet;
    padding: 10px;
}

.card span {
    border-bottom: solid 3px black;
    margin: 5px;
}

.card input {
    margin-top: 10px;
}

.rice-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: solid 3px black;
}

.rice-box {
    display: flex;
    border: dotted 3px black;
    width: fit-content;
    margin: 5px;
    margin-bottom: 10px;
    padding: 2px;
    text-align: center;
    position: relative;
}

li:hover {
    background-color: red;
}

.tooltip {
    position: relative;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: fit-content;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}